

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// Header section 

header{
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 10rem;
    box-shadow: 5px 2px 10px rgba(0,0,0,0.5);
    .logo-box{
        h1{
            text-transform: uppercase;
            color: rgb(5, 133, 5);
            font-family: 'Black Ops One', cursive;
        }
    }
    .nav-list{
        display: flex;
        list-style: none;
        height: 100%;
        .nav-items{
            padding: 1.2rem 2rem;
            text-decoration: none;
            position: relative;
            color: black;
            font-weight: 700;
            height: 100%;
            font-size: 1rem;
            transition: all .4s ease-in-out;
                
            &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: rgb(5, 133, 5);
                left: 0;
                bottom: 0;
                transform: scaleX(0);
                transition: transform 0.5s ease-in-out;
                transform-origin: right;
            }
            &:hover{
                background-color: rgba(0,0,0,0.2);
                // color: rgb(5, 133, 5);
                letter-spacing: 5px;
                
            }
            &:hover::after{
                transform: scaleX(1);
                transform-origin: left;
            }
        }
        .social{
            display: none;
        }
    }
    .extra{
        display: none;
    }
}
header.fixed{
    position: fixed;
    z-index: 999;
    background-color: whitesmoke;
}


// Home section
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem;
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .home-con{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;
        .text-con{
            
            .heading1{
                font-size: 1.5rem;
                text-align: center;
                text-transform: capitalize;
                color: rgb(5, 133, 5);
            }
            .heading2{
                font-size: 4rem;
                text-align: center;
                margin-top: 15px;
                text-transform: uppercase;
                font-family: 'Black Ops One', cursive;
            }
            .heading3{
                font-size: 1.5rem;
                text-align: center;
                text-transform: capitalize;
                font-weight: 400;
                padding-top: 1rem;
            }
            .heading4{
                font-size: 1rem;
                text-align: center;
                text-transform: capitalize;
                font-weight: 200;
                padding: 1rem 0;
                line-height: 40px;
            }
        }
        .social-icon{
            gap: 50px;
            font-size: 2rem;
            a{
                color: black;
                padding: 10px;
                transition: all .4s ease-in;
                &:hover{
                    color: rgb(5, 133, 5);
                    
                }
            }
        }
    }
}


// About section
.about-con{
    padding: 5rem 10rem;
    width: 100%;
    height: auto;
    background-color: rgb(5, 133, 5);
    .title-con{
        position: relative;
        .title{
            font-size: 2.5rem;
            color: white;
            text-align: center;
            text-transform: uppercase;
        }
        .line{
            width: 5rem;
            height: 3px;
            background-color: black;
            position: absolute;
            left: 50%;
            right: 50%;
            transform: translate(-50%, -50%);
            margin-top: 10px;
        }
    }
    .info-con{
        display: flex;
        padding-top: 5rem;
        .info{
            width: 50%;
            text-transform: capitalize;
            text-align: justify;
            .info-title{
                font-size: 2rem;
                text-transform: uppercase;
                color: white;
            }
            .info-desc{
                margin-top: 1.5rem;
                font-size: 1rem;
                color: white;
            }
        }
        .projects{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-left: 5rem;
            .project{
                margin: 20px;
                width: 220px;
                height: 150px;
                transition: all .4s ease-in;
                // border: 1px solid black;
                border-radius: 15px;
                position: relative;
                &:hover{
                    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33);
                    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33);
                    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.33);
                }
                .p-title{
                    font-size: 5rem;
                    color: white;
                    text-align: center;
                }
                .p-info{
                    font-size: 1.5rem;
                    color: rgba(44, 41, 41, 0.8);
                    position: absolute;
                    bottom: 0;
                    right: 10px;
                    width: 50%;
                    text-transform: capitalize;
                }
            }
        }
    }
    .skills-con{
        padding-top: 5rem;
        .title-2{
            font-size: 2rem;
            color: white;
            text-align: center;
        }
        .skills{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top:2rem ;
            .skill{
                margin: 1rem;
                .skill-title{
                    font-size: 1rem;
                    color: white;
                }
                .skill-level{
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    .percentage{
                        font-size: 0.8rem;
                        color: rgb(185, 181, 181);
                    }
                    .level{
                        width: 500px;
                        height: 7px;
                        border: 1px solid black;
                        border-radius: 10px;
                        .html{
                            width: 80%;
                            background-color: white;
                            height: 100%;
                            border-radius: 10px;
                        }
                        .css{
                            width: 70%;
                            background-color: white;
                            height: 100%;
                            border-radius: 10px;
                        }
                        .javascript{
                            width: 55%;
                            background-color: white;
                            height: 100%;
                            border-radius: 10px;
                        }
                        .bootstrap{
                            width: 50%;
                            background-color: white;
                            height: 100%;
                            border-radius: 10px;
                        }
                        .sass{
                            width: 60%;
                            background-color: white;
                            height: 100%;
                            border-radius: 10px;
                        }
                        .react{
                            width: 20%;
                            background-color: white;
                            height: 100%;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
}

// Portfolio section
.portfolio{
    background-color: wheat;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title-con{
        position: relative;
        .title{
            font-size: 2.5rem;
            color: black;
            text-align: center;
            text-transform: uppercase;
        }
        .line{
            width: 5rem;
            height: 3px;
            background-color: rgb(5, 133, 5);
            position: absolute;
            left: 50%;
            right: 50%;
            transform: translate(-50%, -50%);
            margin-top: 10px;
        }
    }
    .btn-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3.5rem;
        gap: 30px;
        .filter-btn{
            height: 2.5rem;
            padding: 0 20px;
            background-color: transparent;
            border: 1px solid rgb(5, 133, 5);
            color: rgb(5, 133, 5);
            border-radius: 5px;
            transition: all .4s ease-in;
            cursor: pointer;
            text-transform: capitalize;
            &:hover{
                background-color: rgb(5, 133, 5);
                color: white;
            }
        }
    }
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        gap: 50px;
        .project-con{
            margin-top: 2.5rem;
            width: 450px;
            height: 450px;
            // border: 1px solid black;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            img{
                width: 100%;
                height: 70%;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                cursor: pointer;
                transition: all .4s ease-in;
                &:hover{
                    transform: scale(1.15);
                }
            }
            .link-con{
                height: 30%;
                background-color: black;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                padding: 0.8rem;
                position: relative;
                border-top: 5px solid rgb(5, 133, 5);
                a{
                    font-size: 0.8rem;
                    color: rgb(5, 133, 5);
                    text-decoration: none;
                    text-transform: capitalize;
                }
                .desc{
                    font-size: 0.8rem;
                    color: white;
                    margin-top: 10px;
                    text-transform: capitalize;
                }
                .github-link{
                    position: absolute;
                    font-size: 0.8rem;
                    color: white;
                    bottom: 10px;
                    text-transform: capitalize;
                }
            }
        }
    }
}

// Contact Section

.contact{
    padding: 5rem 0;
    .title-con{
        position: relative;
        .title{
            font-size: 2.5rem;
            color: black;
            text-align: center;
            text-transform: uppercase;
        }
        .line{
            width: 5rem;
            height: 3px;
            background-color: rgb(5, 133, 5);
            position: absolute;
            left: 50%;
            right: 50%;
            transform: translate(-50%, -50%);
            margin-top: 10px;
        }
    }
    .contact-con{
        display: flex;
        justify-content: center;
        // align-items: center;
        padding-top: 5rem;
        gap: 100px;
        .contact-details{
            max-width: 500px;
            .title{
                font-size: 2rem;
            }
            .desc{
                font-size: 1rem;
                margin-top: 1.5rem;
            }
            .container{
                margin-top: 30px;
                display: flex;
                gap: 1rem;
                position: relative;
                p{
                    align-self: flex-end;
                    position: absolute;
                    right: 0;
                }
                h1{
                    font-size: 1rem;
                }
            }
        }
        .contact-form{
            min-width: 500px;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 50px;
           .fullName{
            display: flex;
            gap: 20px;
                .firstName{
                    width: 250px;
                    height: 40px;
                    border-radius: 30px;
                    background-color: rgb(5, 133, 5);
                    border: 1px solid black;
                    margin-top: 20px;
                    input{
                        width: 100%;
                        height: 100%;
                        background-color: transparent;
                        border: 0;
                        padding: 0 20px;
                        outline: none;
                        font-size: 1rem;
                        color: white;
                    }
                }
                .lastname{
                    width: 250px;
                    height: 40px;
                    border-radius: 30px;
                    background-color: rgb(5, 133, 5);
                    border: 1px solid black;
                    margin-top: 20px;
                    input{
                        width: 100%;
                        height: 100%;
                        background-color: transparent;
                        border: 0;
                        padding: 0 20px;
                        outline: none;
                        font-size: 1rem;
                        color: white;
                    }
                }
           }
           .email{
                width: 520px;
                height: 40px;
                border-radius: 30px;
                background-color: rgb(5, 133, 5);
                border: 1px solid black;
                margin-top: 20px;
                input{
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    border: 0;
                    padding: 0 20px;
                    outline: none;
                    font-size: 1rem;
                    color: white;
                }
            }
           .subject{
                width: 520px;
                height: 40px;
                border-radius: 30px;
                background-color: rgb(5, 133, 5);
                border: 1px solid black;
                margin-top: 20px;
                input{
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    border: 0;
                    padding: 0 20px;
                    outline: none;
                    font-size: 1rem;
                    color: white;
                }
            }
           .message{
                width: 520px;
                height: 200px;
                border-radius: 20px;
                background-color: rgb(5, 133, 5);
                border: 1px solid black;
                margin-top: 20px;
                input{
                    width: 100%;
                    height: 250px;
                    background-color: transparent;
                    border: 0;
                    padding: 0 20px;
                    outline: none;
                    font-size: 1rem;
                    color: white;
                }
            }
            .submit-btn{
                margin-top: 50px;
                font-size: 1rem;
                border-radius: 10px;
            }
        }
    }
}

// footer section
.footer{
    width: 100%;
    height: 150px;
    background-color: black;
    border-top-left-radius: 150px;
    // border-top-right-radius: 200px;
}
// Mobile responsiveness

@media (max-width: 1500px){
    .about-con{
        padding: 5rem 5rem !important;
    }
    .portfolio{
        .container{
            grid-template-columns: 1fr 1fr !important;
        }
    }
}

@media (max-width: 1200px){
    header{
        width: 100% !important;
        padding: 0 2rem;
        .logo-box{
            h1{
                font-size: 1.2rem;
            }
        }
        .nav-list{
            display: block;
            position: fixed;
            top: -1000%;
            width: 70%;
            background-color: black;
            height: 100vh;
            left: 0;
            padding: 3.5rem 2rem;
            transition: all .4s ease-in-out;
            .nav-items{
                color: white;
                &::after{
                    position: relative;
                }
                li{
                    width: 100% !important;
                    height: 3.5rem !important;
                    border-bottom: 1px solid rgba(0,0,0,0.2);
                }
            }
        }
        .nav-list.active{
            top: 0;
            z-index: 999;
        }
        #github{
            display: none;
        }
        #closeBtn{
            display: none;
            transition: all .4s ease-in-out;
             z-index: 999;
        }
        #closeBtn.active{
            display: block !important;
            position: absolute;
            left: 60%;
            color: white;
            cursor: pointer;
            font-size: 1.5rem;
        }
        .menuBtn{
            display: block !important;
            transition: all .4s ease-in-out;
            font-size: 1.5rem;
            color: black;
            cursor: pointer;
        }
        .menuBtn.active{
            display: none !important;
        }
        .social{
           position: absolute;
           bottom: 3%;
           display: flex !important;
           gap: 15px;
           
           a{
            color: white;
            font-size: 1.7rem;
           }
        }
        .btn-con{
            display: none;
        }
        .extra{
            display: block !important;
        }
    }

    // home
    .home{
        .home-con{
            .text-con{
                .heading1{
                    font-size: 1.5rem;
                }
                .heading2{
                    font-size: 3rem;
                }
                .heading3{
                    font-size: 1.2rem;
                }
                .heading4{
                    font-size: 1rem;
                }
            }
        }
    }
    // about
    .about-con{
        padding: 5rem 0 !important;
        .info-con{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .info{
                width: 100%;
                padding: 5rem !important;
            }
        }
        .projects{
            padding-left: 0 !important;
            margin-top: 30px;
        }
        .skills-con{
            .skills{
               display: flex !important;
               flex-direction: column;
               align-items: center;
               justify-content: center;
            }
        }
    }

    // Portfolio
    .portfolio{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .container{
            grid-template-columns: 1fr !important;
        }
    }

    // contact
    .contact{
        .contact-con{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .contact-details{
                // padding-left: 100px;
            }
        }
    }
}

@media (max-width: 550px){
    header.fixed{
        position: fixed;
        z-index: 999;
        background-color: whitesmoke;
        max-width: 100%;
    }
    // Home
    .home{

        .home-con{
            .text-con{
                .heading1{
                    font-size: 1rem;
                }
                .heading2{
                    font-size: 2rem;
                }
                .heading3{
                    font-size: 0.8rem;
                }
                .heading4{
                    font-size: 0.8rem;
                    line-height: 20px;
                }
            }
            .social-icon{
                font-size: 1rem;
                gap: 10px !important;
                a{
                    padding: 5px;
                }
            }
        }
    }

    // About
    .about-con{
        width: 100% !important;
        .title-con{
            .title{
                font-size: 1.5rem !important;
            }
            .line{
                width: 2.5rem !important;
            }
        }
        .info-con{
            .info{
                padding: 1.5rem !important;
            }
            .projects{
                .project{
                    width: 150px !important;
                    height: 130px !important;
                    
                    .p-title{
                        font-size: 3rem;
                    }
                    .p-info{
                        font-size: 1rem;
                    }
                    
                }
            }
        }
        .skills-con{
            .skills{
                .skill{
                    .skill-level{
                        .level{
                            width: 300px !important;
                        }
                    }
                }
            }
        }
    }

    // portfolio
    .portfolio{
        width: 100% !important;
        .title-con{
            .title{
                font-size: 1.5rem !important;
            }
            .line{
                width: 2.5rem !important;
            }
        }
        .container{
            gap: 20px;
            .project-con{
                width: 300px;
                height: 300px;
                padding: 0.3 !important;
                .link-con{
                    a{
                        font-size: 0.5rem;
                    }
                    .desc{
                        font-size: 0.5rem;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
    
    // Contact
    .contact{
        width: 100% !important;
        .title-con{
            .title{
                font-size: 1.5rem !important;
            }
            .line{
                width: 2.5rem !important;
            }
        }
        .contact-con{
            .contact-details{
                max-width: 300px !important;
                .title{
                    font-size: 1rem;
                }
                .desc{
                    font-size: 0.7rem;
                    margin-top: 1rem;
                }
                .container{
                    p{
                        align-self: flex-end;
                        position: absolute;
                        right: 0;
                        font-size: 0.6rem;
                    }
                    h1{
                        font-size: 0.8rem;
                    }
                }
            }
            .contact-form{
                min-width: 0 !important;
                align-items: center;
                justify-content: center;
                padding: 0 !important;
                .fullName{
                    flex-direction: column;
                    gap: 0 !important;
                }
                .email{
                    width: 250px !important;
                }
                .subject{
                    width: 250px !important;
                }
                .message{
                    width: 250px !important;
                }
            }
        }
    }
}

@media (max-width: 360px){
       // Home
       .home{
        max-width: 270px !important;
        padding: 0 !important;
        .home-con{
            .text-con{
                .heading1{
                    font-size: 0.8rem;
                }
                .heading2{
                    font-size: 1.6rem;
                }
                .heading3{
                    font-size: 0.6rem;
                }
                .heading4{
                    font-size: 0.5rem;
                    line-height: 20px;
                }
            }
        }
    }

       // About
       .about-con{
        width: 100% !important;
        .title-con{
            .title{
                font-size: 1.3rem !important;
            }
            .line{
                width: 2.2rem !important;
            }
        }
        .info-con{
            .info{
                padding: 1.5rem !important;
                .info-title{
                    font-size: 1.2rem;
                }
                .info-desc{
                    font-size: 0.7rem;
                }
            }
            .projects{
                .project{
                    width: 100px !important;
                    height: 80px !important;
                    
                    .p-title{
                        font-size: 2rem;
                    }
                    .p-info{
                        font-size: 0.8rem;
                    }
                    
                }
            }
        }
        .skills-con{
            .skills{
                .skill{
                    .skill-level{
                        .level{
                            width: 200px !important;
                        }
                    }
                }
            }
        }
    }

        // portfolio
        .portfolio{
            width: 100% !important;
            .title-con{
                .title{
                    font-size: 1.3rem !important;
                }
                .line{
                    width: 2.2rem !important;
                }
            }
            .btn-container{
                gap: 15px;
                .filter-btn{
                    height: 2rem;
                    padding: 0 10px;
                    font-size: 10px !important;
                }
            }
            .container{
                gap: 20px;
                .project-con{
                    width: 250px;
                    height: 250px;
                    padding: 0.3 !important;
                    .link-con{
                        a{
                            font-size: 0.4rem;
                        }
                        .desc{
                            font-size: 0.4rem;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }

        // Contact
        .contact{
            width: 100% !important;
            .title-con{
                .title{
                    font-size: 1.3rem !important;
                }
                .line{
                    width: 2.2rem !important;
                }
            }
            .contact-con{
                .contact-details{
                    max-width: 250px !important;
                    .title{
                        font-size: 0.8rem;
                    }
                    .desc{
                        font-size: 0.5rem;
                        margin-top: 1rem;
                    }
                    .container{
                        p{
                            align-self: flex-end;
                            position: absolute;
                            right: 0;
                            font-size: 0.4rem;
                        }
                        h1{
                            font-size: 0.7rem;
                        }
                    }
                }
                .contact-form{
                    min-width: 0 !important;
                    align-items: center;
                    justify-content: center;
                    padding: 0 !important;
                    .fullName{
                        flex-direction: column;
                    }
                    .email{
                        width: 250px !important;
                    }
                    .subject{
                        width: 250px !important;
                    }
                    .message{
                        width: 250px !important;
                    }
                }
            }
        }
}

// Independent variables

// Button

.button{
    border: 2px solid black;
    margin-top: 2rem;
}
.btn-con{
    width: 10rem;
    height: 2.5rem;
    background-color: rgb(5, 133, 5);
    border-radius: 4px;
    transition: all .3s ease-in-out;
    
    &:hover{
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(5, 133, 5);
    }
    .btn{
        width: 100%;
        height: 100%;
        background-color: transparent;
        outline: none;
        border: 0;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover{
            .btn-link{
                color: rgb(5, 133, 5);
                letter-spacing: 2px;
            }

        }
       .btn-link{
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 0.85rem;
        height: 100%;
        width: 10rem;
        transition: all .3s ease-in-out;
       }
    }
}